CMS_API_BASE_URL=https://data.cms.gov/provider-data/api/1/datastore/query
MEDICARE_CARE_COMPARE_BASE_URL=https://www.medicare.gov/care-compare/details/nursing-home
CORS_ALLOW_ORIGINS=["http://localhost:8000"]
